/*
As long as your CSS files are in this folder, Rails will automatically load 
them.

Start with the page layout. Have the main section contain the feed and a 
sidebar contain everything else. Use a flexbox to get everything to line up.

Style the feed next. Add borders and any other flourishes you'd like to make 
each tweet visually distinct from the next.

After your main layout and feed look nice, style the user search page. Space 
out the results. Feel free to style the button, too!

Style the login page and signup page. These can look very similar, so think 
about how you can reuse classes to produce a standard, repeated aesthetic for 
the site.

 *= require_tree .
 *= require_self
 */


/* PHASE 0: Reset */

html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline:0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

h1{
	font-size:32px;
}

	body{
	  font-weight:400;
	  background:#99d6ff;
	  width:60%;
	  margin:0 auto;
	}

	a{
		color:#0099ff;
		font-size:20px;
	}

	a:hover{
		color: white;
	}

	button, input[type="submit"]{
		color:#0099ff;
		outline:none;
		border-radius: 5px;
		border: 1px solid #0099ff;
		margin:5px;
		padding:5px 15px;
		background:white;
		font-size:16px;
	}

	input[type="submit"]:hover{
		background:#0099ff;
		color:white;
	}

	input[type="select"]{

		
	}


ul {
  list-style: none;
  padding:5px 5px;
}


/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
