
.feed-label{
	margin: 0 auto;
	position:relative;
	left:40%;
	font-size:30px;
	color: #2298f0;
}
.feed{
	position:relative;
	display:block;
	padding:20px;
	background:#e6f9ff;
	border-radius: 10px
}

#friend-feed > li, #feed > li{
	padding:20px;
	font-size:20px;
	border-top: 1px solid #2298f0;
}

#friend-feed > li:hover, #feed > li:hover{
	background:white;
}

.fetch-more{
	text-align:center;
	margin: 0 auto;
	display:block;
	color:white;
	background:#2298f0;
	padding:10px 20px;
	font-size:20px;
	border: 1px solid #2298f0;
	border-radius:2px;
}

.fetch-more:hover{
	-webkit-filter: brightness(110%);
}