
input[type="submit"].login {
	outline:none;
	padding:5px 30px;
	font-size:16px;
	color: #2298f0;
	border-radius: 5px;
	background:transparent;
	border:1px solid #2298f0;
}

input[type="submit"].login:hover{
	background: #2298f0;
	color: white;
}

.login-form{
	display:block;
	margin-right: 20%;
	margin-top:20%;
	float:right;
	width:500px;
	height:290px;
	background:  white;
	opacity:0.9;
}

.login-form:hover{
	opacity:1.0;
}

div.form-contents{
	margin:30px;
}

.label{
	color:#2298f0;
	font-size:20px;
}


.input-field{
	letter-spacing: 1.2px;
	margin:10px 5px;
	padding:5px;
	font-size: 18px;
	outline: none; /* gets ride of stupid blue outline */
	height:25px;
	width:90%;
	color:#2298f0;
	border: 1px solid #2298f0;
	border-radius: 5px
}

.input-field:hover{
	margin:10px 5px;
	border: 1px solid #d1d1e0;
}


.welcome{
	display:block;
	position:relative;
	height:100px;
	z-index:-1;
	color:#3973ac;
	font-weight:900;
}

a.new-user{
	color: #2298f0;
	font-weight:900;
	font-size:20px;
	padding: 5px 10px;
}

a.new-user:hover{
	color: #2298f0;
}