div.left-panel{
	display:block;
	position:relative;
	float:left;
	margin:5px 20px 5px 0px ;
	width:120px;
	height:100px;
}

div.left-panel > li{
	color: black;
}

.users > li {
	padding:10px;
	width:30px;
}