.search-query{
	font-size:26px;
	display:block;
	color: white;
}


.result{
	height:100%;
	width:300px;
	display:block;
	background:white;
	padding:0px 0px;
	border-radius: 10px;
	overflow:hidden;
	margin:0px 0px;
}

.result > li{
	color:white;
}
.result > li:hover{
	background: #3973ac;
	width:100%;
}


.user-intro{
	display:block;
	display:flex;
	position:relative;
	height:100px;
	margin:0px;
	padding:5px;
}

.user-intro > li {
	 flex-direction: column;
   align-items: center;
   justify-content: center;
}