

<!-- Replace the contents of the button form with a single <button>. Give 
the button a class of follow-toggle. We'll also need to let the 
button know the user-id and initial-follow-state ("followed" or 
"unfollowed") by storing these in data-* attributes. 

Leave the inner HTML of the button empty: the FollowToggle class will be responsible 
for setting this. -->

<button class="follow-toggle">
	data-user-id="<%= user.id %>"
	data-initial-follow-state="<%= current_user.follows?(user) ? "followed" : "unfollowed") %>"
</button>

