<h1 class="welcome">Welcome <%= current_user.username %>!</h1>

<div class="feed">
<b>Your Feed!</b>
<div class="infinite-tweets"><ul id="feed">
  <!-- We'll add tweets dynamically with jQuery now -->
  
</ul>
<a class="fetch-more" href="javascript:void(0)">Fetch more tweets!</a> </div>
</div>
<%= render "tweets/form" %>
