<form class="signup-form" action="/users" method="POST">
<div class="form-contents">
<h1>Sign up!</h1>

<ul>
  <% @user.errors.full_messages.each do |err_msg| %>
    <li><%= err_msg %></li>
  <% end %>
</ul>

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label 
    class="label"
    for="user_username">Username</label>
  <input
    class="input input-field"
    type="text"
    name="user[username]"
    id="user_username"
    value="<%= @user.username %>">
  <br>

  <label 
    class="label"
    for="user_password">Password</label>
  <input 
    class="input input-field"
    type="password" 
    name="user[password]" 
    id="user_password">
  <br>

  <input type="submit" value="Create User!">
</div></form>
