<h1 class="welcome">Search Tweets By User</h1>

<nav class="users-search">
<label class="input search-query"><strong>Search tweets from username:</strong>
  <input class="input-field" type="text" name="username">
  </label>

<br>
  <h3 class="result-bubble"></h3>
  <ul class="users result"></ul>
</nav>
